<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/highcharts.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

     <title>{% block title %}  {% endblock title%}</title>
</head>

<body>

<section class="main_header">
    {% include 'include/header.html' %}
</section>

<section class="context" style="display:flex;">
    <div class="side_bar_menu" id="side_bar_menu">
        {% include 'include/side_bar.html' %}
    </div>
    <div class="oper" style="flex: 1 1 80%;">
        {% block main %}
        {% endblock main %}
    </div>
</section>
<button class="btn btn-primary open" id="open">Menu</button>
</body>
</html>