{% extends 'order/base.html' %}

{% load static %}
{% block title %} Категории {% endblock title %}

{% block content %}
    <h2 class="main_heading">Категории</h2>
    <a href="{% url 'add_category' %}" class="btn btn-primary btn-block add_cat">+ Категория</a>
    <hr class="line">


    {% for category in category_list %}
    <div class="card_body">
        <div class="card">
            <h3 class="news_title cat_title">{{ category.name }}</h3>
            {% if category.image %}
            <img src="{{ category.image.url }}" alt="img" class="category_img">
            {% endif %}
            <div class="edit">
                <a href="{% url 'category_update' category.id %}" class="btn btn-primary btn-block cat">Изменить</a>
            </div>
        </div>
        <div class="extend_product">
            <div class="description">

                {% if category.product_set.exists %}
                <h5>В составе категории:</h5>
                <hr>
                {% endif %}

            {% for product in category.product_set.all %}
                <div class="products">
                    <form class="product_form" action="{% url 'category' %}" method="post"  style="display: flex; justify-content: space-between;">
                        {% csrf_token %}
                        {% if product.image %}
                        <div class="form_elements">
                            <span><img src="{{ product.image.url }}" alt="product_ico" class="product_ico"></span>
                        {% endif %}
                            <span  class="product_name">{{ product.name }}</span>
                            <input type="hidden" name="category" value="{{ category.id }}" class="product_form_field">
                            <input type="hidden" name="product"  value="{{ product.id }}"  class="product_form_field">
                            <div class="quantity-block">
                                <input type="number" name="price" placeholder="Цена"  required class="product_form_field product_price" />
                            </div>
                            <button type="submit" class="btn btn-primary btn-block add_to_card_btn">В корзину</button>
                        </div>
                    </form>
                    <hr>
                </div>
            {% endfor %}
                <form action="{% url 'add_product' %}" method="get">
                    <input type="text" name="category" value="{{ category.id }}" style="visibility:hidden; width:10px;">
                    <button type="submit"  class="btn btn-primary btn-block product_btn">+ Продукт</button>
                </form>

            </div>
        </div>
    </div>
    <hr class="line">
    {% endfor %}
{% endblock content %}

